### pipipi

In [0]:
use movie_gold;

In [0]:
select company_name, count(company_name) as total_company_name, sum(budget) as total_budget,
cast(avg(budget) as decimal(18,2)) as avg_budget, sum(revenue) as total_revenue, cast(avg(revenue) as decimal(18,2)) as avg_revenue 
from results_movie
group by company_name
order by total_revenue desc;

In [0]:
select company_name, count(company_name) as total_company_name, sum(budget) as total_budget,
cast(avg(budget) as decimal(18,2)) as avg_budget, sum(revenue) as total_revenue, cast(avg(revenue) as decimal(18,2)) as avg_revenue 
from results_movie
where year_release_date between 2010 and 2015
group by company_name
order by total_revenue desc;